name: bayoneten/task

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ develop ] 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build -t task-manager .
